<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PubRun: PoC</title>
  </head>
  <body>

    <h1>PubRun: PoC</h1>

    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
    <p>Welcome, random anonymous person. Please log in if you want to do anything remotely useful.</p>
    {% endif %}

    <ul>
      <li><a href="/admin/">Admin Log In</a></li>
      <li><a href="/accounts/login">Standard Log In</a></li>
      <li><a href="/accounts/logout">Log Out</a></li>
      <li><a href="generate_qrcodes">Generate QR Codes</a></li>
      <li><a href="all_runners">All Runners</a></li>
    </ul>

</body>
</html>
